<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.melaAttendance">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:icon="@drawable/aajeevika"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/aajeevika"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.OtpVerificationActivity"></activity>
        <activity
            android:name=".utils.AnyOrientationCaptureActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SelectShgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BarcodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MpinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OTPverification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>